* {
    box-sizing: border-box;
  }


body{
    margin: auto;
    font-family: Lato;
    font-size: 16px;
    background-color: #e0e3e8;
}



/* HEADER BAR */

header{
   background-color: rgb(240, 240, 240);
   position: sticky;
   height: 90px;
   border-bottom: 1px dotted rgba(204, 204, 204, 0.452);
  }

  .logo img {
    float: left;
  }

  .fakeimg2 {
    background-color: #aaa;
    width: 100%;
    height: 600px;
    /* padding: 20px; */
    float: left;
    margin-left: 25px;
  }
  
  .logo {

    float: left;

}

.title {
    width: 600px;
    /* padding: 20px; */
    /* margin: 0px auto  20px; */
}


.title h1, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-weight: 100;
    text-transform: capitalize;
}

.title h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-weight: 100;
    font-size: .6rem;
    margin-top: -3px;
    border-top: gray thin solid;
    padding-top: 5px;
    margin-right: 25px;
}

.title h1{

    font-size: 26px;

}
h2 {

    font-size: 19px;

}

/* main div */

main {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    background-color: rgb(252, 252, 252);
    min-height: 1500px;
}

.textdiv {
    position: absolute;
    margin-top: 25px;
    margin-bottom: 15px;
    top: 50px;
    left: 690px;
    right: 35px;
    max-width: 500px;
    width: 100%;
    border-left: 1px solid rgba(130, 175, 219, 0.452);
    }



mark.blue{
color: rgb(255, 255, 255);
background-color: rgb(238, 40, 73);
padding-left: 3px;
padding-right: 3px;
}

/* NAVIGATION */


nav {

  font-family: lato,Verdana, Geneva, Tahoma, sans-serif;  
  font-size: 11px;
  min-height: 90px;
  float: right;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 90px;
}

nav li {
  display: inline-block;
  margin-left: -22px;
  /* margin-right: 10px; */
  
  padding: 35px 10px 35px 10px;


}

nav a {
  color: rgb(167, 167, 167);
  text-align: center;
  padding: 42px 22px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(233, 233, 233);
  border-left: rgb(211, 211, 211) thin dotted;


}

nav :hover {
  color: rgb(255, 255, 255);
}

nav li a:hover:not(.active) {
  background-color: rgb(214, 214, 214);
}

/* .active {
  background-color: #222d6d;
} */

/* .active {
  background-color: #222d6d;
} */

.nolink{
    
  font-family: Lato, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: black;
}





/* bring your own prefixes */


.contentrow {
  display: flex;
  
}

/* two columns*/

.leftside {
    flex: 60%;
  }

.leftcontainer_top, .leftcontainer_mid, form {
    width: 600px;
    padding: 20px;
    margin: 0px auto  20px;
    border-bottom: 1px dotted rgba(204, 204, 204, 0.452);

   
}  


/* form {
  width: 600px;
  padding: 20px;
  margin: 0px auto  20px;
  border-bottom: 1px solid rgba(130, 175, 219, 0.452);

 
}   */


/* .leftcontainer_mid{
   

}  */

.leftcontainer_mid img{
    max-width: 85px;
    width: 100%;
    padding-top: 0px;
    left: 0px;

}  

.leftside, .rightside p {
     font-family: lato, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: rgb(137, 137, 137);
  }

.leftside {
    
    font-weight: 200;
    font-size: 13px;
}


/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    height: 600px;
    padding: 20px;
  }


.rightside{
     max-width: 325px;
    width: 100%;
    /* padding: 15px; */
    float: right;
    margin-left: 0;
    min-height: 900px;


  }


  /* .rightside a{
    margin: 15px auto 15px;
    max-width: 400px;
    width: 100%;
    font-size: 13px;
    text-align: justify;

} */

.rightside_top, .rightside_mid, .rightside_low{   

    margin: 20px 80px 40px 0px;
    /* width: 80%; */
    border-bottom: 1px dotted rgba(204, 204, 204, 0.452);

} 


.rightside img{
    margin-left: 15px;
    max-width: 75px;
    width: 100%;
    text-align: justify;
    float: left;
}


.rightcontainer_top {
    width: 90%;
    border-left: 1px dotted rgba(204, 204, 204, 0.452);
    margin-top: 50px;
    min-height: 900px;
    padding-left: 10px;
}  


.rightside p{

    font-size: 9px;
    line-height: 15px;
    font-weight: 400;

}


.rightside form{

    width: 100%;
    /* margin-bottom: 25px;
    margin-top: 25px; */
  }

.column #box {

  max-width: 500px;
  width: 100%;
  padding: 15px;
  text-align: center;
  margin: auto;

}

.column p{
  font-family: lato,Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(245, 240, 234);
  font-size: 14px;
  text-align: justify;
  line-height: 26px;
}


/* navigation */




  /* FOOTER */

footer {
    background-color: rgb(247, 247, 247);
    /* position: sticky; */
    height: 400px;
    border-top: rgb(231, 231, 231) 1px solid;
 }

 footer .bottom{
    
    background-color: rgb(233, 233, 233);
  /* position: sticky; */
    height: 90px;
    margin-bottom: 0px;
    border-top: 1px dotted rgba(204, 204, 204, 0.452);
 }

 hr{
  border-top: 1px dashed rgb(224, 224, 224);
 }


 footer .topblock {

    display: flex;
    width: 100%;
    max-width: 950px;
    margin: auto;
    min-height: 310px;

 } 

 footer .bottomblock{

  max-width: 980px;
	text-align: center;
    margin: auto;
 } 

footer .topblock_1, .topblock_4 {
    flex: 25%;
    padding: 25px;
}

footer .topblock_4 form{
  width: 100%;
}



footer h1 {
  font-family: lato, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  color: #aaa;
  text-transform: uppercase;
}

footer .topblock_1, .topblock_line p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(197, 197, 197);
  font-size: 12px;
  
}


footer .topblock_line p{
    border: aliceblue 1px 0px 0px 1px thin;
    
  }

/* footer form{
    margin: auto
    
  } */


  /* ICONS */   
  
.social{

  width: 100%; 
  margin: auto;

  }

.bottomblock ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  margin: 30px auto 10px auto;
  /* padding: 35px; */

}  

 .bottomblock  img{
   max-width: 25px;
   
 }

.bottomblock li {
  display: inline-block;
}

.bottomblock a {
  text-decoration: none;
  
}

.footercapt {
  float: left;
  margin: 0;

}

.footercapt p{
  font-family: lato, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;

}

.copyright {
  float: left;
}

.links {
  float: right;
}