* {
    box-sizing: border-box;
  }


body{
    margin: auto;
    font-family: Lato;
    font-size: 16px;
    background-color: #e0e3e8;
}

h2 {

  font-size: 19px;

}


/* HEADER BAR */

header{
   background-color: rgb(240, 240, 240);
   position: sticky;
   height: 90px;
   border-bottom: 1px dotted rgba(204, 204, 204, 0.452);
  }

  .logo img {
    float: left;
  }

  .fakeimg2 {
    background-color: #aaa;
    width: 100%;
    height: 600px;
 
    float: left;
    margin-right: 20px;
  }
  
  .logo {

    float: left;

}

/* NAVIGATION */


nav {

  font-family: lato,Verdana, Geneva, Tahoma, sans-serif;  
  font-size: 11px;
  min-height: 90px;
  float: right;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 90px;
}

nav li {
  display: inline-block;
  margin-left: -22px;
  padding: 35px 10px 35px 10px;
}

nav a {
  color: rgb(167, 167, 167);
  text-align: center;
  padding: 42px 22px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(233, 233, 233);
  border-left: rgb(211, 211, 211) thin dotted;
}

nav :hover {
  color: rgb(255, 255, 255);
}

nav li a:hover:not(.active) {
  background-color: rgb(214, 214, 214);
}

/* .active {
  background-color: #222d6d;
} */

/* .active {
  background-color: #222d6d;
} */


/* TITLE */

.title {
    width: 600px;
    
}


.title h1, 
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-weight: 100;
    text-transform: capitalize;
}

.title h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-weight: 100;
    font-size: .6rem;
    margin-top: -3px;
    padding-top: 5px;
    display: inline-block;
}

.title h1{

    font-size: 26px;
}


span.grey {
  background: rgb(194, 194, 194);
   border-radius: 3em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  color: #686868;
  display: inline-block;
  font-weight: 300;
  line-height: 1em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
  font-size: 20px;
  height: 80px;
  width: 80px;
  padding: 20px 0;
}


/* MAIN CONTENT ROW*/

main {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  background-color: rgb(252, 252, 252);
  min-height: 1500px;
}


.contentrow {
  display: flex;
  
}

/* LEFT SIDE - COLUMN*/

.leftside {
    flex: 60%;
  }

.leftcontainer_top{
    width: 600px;
    margin: auto;
    border-bottom: 1px dotted rgba(196, 196, 196, 0.452);
   
}  

.leftcontainer_mid{
  width: 600px;
  border-bottom: 1px dotted rgba(196, 196, 196, 0.452);

}  

.leftcontainer_mid img{
    max-width: 140px;
    align-items: center;
    margin: 15px 2px 15px 0px;
  

}

.leftimg {
  width: 600px;
  margin: auto;
}  

.leftside, 
.rightside p {
  font-family: lato, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(137, 137, 137);
}

.leftside p{
    
    font-weight: 200;
    font-size: 13px;
    text-align: justify;
    width: 600px;
}

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: -1px;
  margin-right: -1px;
  font-size: 2em;
  text-transform: uppercase;
  color: rgb(114, 122, 131);
}

.leftcontainer_top img {
    background-color: #aaa;
    width: 600px;
    height: 300px;
  }

  .fakeimg2 {
    background-color: #aaa;
    width: 90px;
    height: 90px;
  
  }  

/* RIGHT SIDE - COLUMN*/

.rightside {
    max-width: 325px;
    width: 100%;
    /* padding: 15px; */
    float: right;
    margin: 20px 80px 40px 0px;
    min-height: 900px;

  }


.rightcontainer {
  width: 90%;
  border-left: 1px dotted rgba(204, 204, 204, 0.452);
  margin-top: 50px;
  min-height: 900px;
  padding-left: 10px;
}  

.rightside_top, 
.rightside_mid, 
.rightside_low {   

    border-bottom: 1px dotted rgba(204, 204, 204, 0.452);

} 

.rightside_mid {   

    margin-top: 40px;
    margin-bottom: 40px;
} 


.rightside img {
    margin-left: 15px;
    max-width: 75px;
    width: 100%;
    text-align: justify;
    float: left;
}

.rightside p {

    font-size: 9px;
    line-height: 15px;
    font-weight: 400;

}


.rightside form {

    width: 240px;
    /* margin-bottom: 25px;
    margin-top: 25px; */
  }


/* FOOTER */

footer {
    background-color: rgb(247, 247, 247);
    /* position: sticky; */
    height: 400px;
    border-top: rgb(231, 231, 231) 1px solid;
 }

 footer .bottom{
    
    background-color: rgb(233, 233, 233);
  /* position: sticky; */
    height: 90px;
    margin-bottom: 0px;
    border-top: 1px dotted rgba(204, 204, 204, 0.452);
 }

 hr {
  border-top: 1px dashed rgb(224, 224, 224);
 }

 footer .topblock {

    display: flex;
    width: 100%;
    max-width: 950px;
    margin: auto;
    min-height: 310px;

 } 

 footer .bottomblock{

  max-width: 980px;
	text-align: center;
  margin: auto;
 } 

footer .topblock_1, 
.topblock_4 {
    flex: 25%;
    padding: 25px;
}

footer .topblock_4 form{
  width: 100%;
}

footer h1 {
  font-family: lato, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  color: #aaa;
  text-transform: uppercase;
}

footer .topblock_1 p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(197, 197, 197);
  font-size: 12px;
  
}
  
.bottomblock ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  margin: 30px auto 10px auto;

}  

 .bottomblock  img{
   max-width: 25px;
   
 }

.bottomblock li {
  display: inline-block;
}

.bottomblock a {
  text-decoration: none;
  
}

.footercapt {
  float: left;
  margin: 0;

}

.footercapt p{
  font-family: lato, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;

}

.copyright {
  float: left;
}

.links {
  float: right;
}


/* ICONS */   
  
.social{

  width: 100%; 
  margin: auto;

  }