input[type=text], select, textarea{
    font-family: lato,Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(245, 245, 245);
    box-sizing: border-box;
    background-color: rgb(246, 246, 246);
    color: rgb(151, 151, 151);
    height:30px
  }
  
  
  input[type=submit] {
    font-family: lato,Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    width: 100%;
    background-color: #868686;
    color: rgb(190, 190, 190);
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 24px;
    text-transform: uppercase;
  
  }

  .topblock_4 input[type=submit] {
    font-family: lato,Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: rgb(190, 190, 190);
    /* margin: 8px 0; */
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    height: 40px;
  
  }
  
  input[type=submit]:hover {
    background-color: #050835;
  }
  
  label {
    font-family: lato,Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
    font-size: 16px;
    float: left;
    text-transform: uppercase;
    font-weight:lighter;
  }

  footer form{
    width: 250px;
  
  } 

  .rightside form {
    width: 240px;
    margin-right: 5px;
    margin-left: 5px;
 
}  

.topblock_4 textarea{
 
  height: 90px;

} 

::placeholder{
  color: rgb(211, 211, 211); 
  font-family: lato, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  margin-left: -25px;

} 

.leftside form {
  width: 600px;
  padding: 20px;
  margin: 0px auto  20px;

 
} 

.leftside textarea {
 
  height: 200px;

} 
  